@-webkit-keyframes moveInCenter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes moveInCenter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 58.75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 35em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (min-width: 122.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #666;
  overflow-x: hidden;
  position: relative;
}

.heading-1 {
  font-size: 6.2rem;
  line-height: 1.1;
  letter-spacing: -2px;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .heading-1 {
    font-size: 5.2rem;
  }
}
@media only screen and (max-width: 35em) {
  .heading-1 {
    font-size: 4.4rem;
  }
}

.heading-2 {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .heading-2 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 35em) {
  .heading-2 {
    font-size: 3rem;
    text-align: center;
  }
}

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #7f9a6d;
  font-weight: 700;
}
@media only screen and (max-width: 35em) {
  .heading-3 {
    font-size: 1.4rem;
    text-align: center;
  }
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 45em) {
  .btn,
.btn:link,
.btn:visited {
    padding: 1.2rem 2.4rem;
  }
}
@media only screen and (max-width: 35em) {
  .btn,
.btn:link,
.btn:visited {
    padding: 1rem 1.8rem;
  }
}
@media only screen and (max-width: 21.875em) {
  .btn,
.btn:link,
.btn:visited {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}

.btn--full {
  background-color: #9fc088;
  color: #333;
}
.btn--full:hover, .btn--full:active {
  background-color: #303a29;
  color: #ecf2e7;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}
.btn--outline {
  background-color: #ecf2e7;
  color: #666;
}
.btn--outline:hover, .btn--outline:active {
  background-color: transparent;
  color: #ecf2e7;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}
.btn--outline-2 {
  background-color: transparent;
  color: #666;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}
.btn--outline-2:hover, .btn--outline-2:active {
  background-color: #ecf2e7;
  color: #666;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}
.btn--nav {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
}

.btn-nav,
.btn-nav:link,
.btn-nav:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 58.75em) {
  .btn-nav,
.btn-nav:link,
.btn-nav:visited {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 35em) {
  .btn-nav,
.btn-nav:link,
.btn-nav:visited {
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
  }
}

.btn-nav--full {
  background-color: #9fc088;
  color: #333;
}
.btn-nav--full:hover, .btn-nav--full:active {
  background-color: #303a29;
  color: #ecf2e7;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}
.btn-nav--outline {
  background-color: #ecf2e7;
  color: #666;
}
.btn-nav--outline:hover, .btn-nav--outline:active {
  background-color: transparent;
  color: #ecf2e7;
  -webkit-box-shadow: inset 0 0 0 2px #ecf2e7;
          box-shadow: inset 0 0 0 2px #ecf2e7;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #f7f7f7;
}
@media only screen and (max-width: 58.75em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2.4rem;
  }
}
.navigation__link:hover, .navigation__link:active {
  color: #b2cda0;
}

.address-link:link, .address-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #666;
}
.address-link:hover, .address-link:active {
  color: #303a29;
}

.socials-link:link, .socials-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  fill: #ecf2e7;
}
.socials-link:hover, .socials-link:active {
  fill: #b2cda0;
}

.footer__link:link, .footer__link:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #ecf2e7;
  fill: #ecf2e7;
}
.footer__link:hover, .footer__link:active {
  color: #b2cda0;
  fill: #b2cda0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.center-text {
  text-align: center;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mr-sm {
  margin-right: 1.6rem !important;
}

.mr-lg {
  margin-right: 2.4rem !important;
}

.mb-t {
  margin-bottom: 1.2rem !important;
}

.mb-sm {
  margin-bottom: 2.4rem !important;
}

.mb-md {
  margin-bottom: 3.2rem !important;
}
@media only screen and (max-width: 45em) {
  .mb-md {
    margin-bottom: 2.4rem !important;
  }
}

.mb-lg {
  margin-bottom: 4.8rem !important;
}
@media only screen and (max-width: 45em) {
  .mb-lg {
    margin-bottom: 3.2rem !important;
  }
}

.mb-lg-2 {
  margin-bottom: 6.4rem !important;
}
@media only screen and (max-width: 45em) {
  .mb-lg-2 {
    margin-bottom: 4.8rem !important;
  }
}

.mb-hg {
  margin-bottom: 9.6rem !important;
}
@media only screen and (max-width: 45em) {
  .mb-hg {
    margin-bottom: 6.4rem !important;
  }
}

.section-about {
  padding: 9.6rem 0 12rem;
  background-color: #ecf2e7;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 58.75em) {
  .section-about {
    text-align: center;
  }
}
@media only screen and (max-width: 45em) {
  .section-about {
    padding: 9.6rem 0 9.6rem;
  }
}

.about {
  -webkit-animation: 2s ease-out 0.5s moveInCenter;
          animation: 2s ease-out 0.5s moveInCenter;
}
.about__text {
  font-size: 2rem;
  line-height: 2;
}

.section-footer {
  padding: 12.5rem 0;
  background-color: #303a29;
  color: #ecf2e7;
}
@media only screen and (max-width: 58.75em) {
  .section-footer {
    padding: 9.6rem 0;
  }
}
@media only screen and (max-width: 45em) {
  .section-footer {
    padding: 9.6rem 0 8rem;
  }
}
@media only screen and (max-width: 21.875em) {
  .section-footer {
    padding: 9.6rem 3.2rem 8rem;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-column-gap: 4.8rem;
     -moz-column-gap: 4.8rem;
          column-gap: 4.8rem;
  row-gap: 2.4rem;
}
@media only screen and (max-width: 58.75em) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    -webkit-column-gap: 4.8rem;
       -moz-column-gap: 4.8rem;
            column-gap: 4.8rem;
    row-gap: 8rem;
  }
}
@media only screen and (max-width: 45em) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
    -webkit-column-gap: 4.8rem;
       -moz-column-gap: 4.8rem;
            column-gap: 4.8rem;
    row-gap: 8rem;
  }
}
@media only screen and (max-width: 35em) {
  .footer {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    row-gap: 6.4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 58.75em) {
  .footer__logo-col {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    text-align: center;
  }
}
@media only screen and (max-width: 35em) {
  .footer__logo-col {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 2.4rem;
  -webkit-transform: translateY(-1.6rem);
      -ms-transform: translateY(-1.6rem);
          transform: translateY(-1.6rem);
}
@media only screen and (max-width: 58.75em) {
  .footer__logo {
    margin-bottom: 1.6rem;
  }
}
@media only screen and (max-width: 45em) {
  .footer__logo {
    -webkit-transform: translateY(-0.4rem);
        -ms-transform: translateY(-0.4rem);
            transform: translateY(-0.4rem);
  }
}
.footer__logo:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.footer__logo img {
  height: 6rem;
}
@media only screen and (max-width: 58.75em) {
  .footer__logo img {
    height: 4rem;
  }
}
@media only screen and (max-width: 35em) {
  .footer__logo img {
    height: 3.2rem;
  }
}
.footer__socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 6.4rem;
}
@media only screen and (max-width: 58.75em) {
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 45em) {
  .footer__socials {
    margin-bottom: 5.8rem;
  }
}
.footer__facebook, .footer__instagram {
  height: 3.2rem;
  width: 3.2rem;
}
.footer__copyright {
  font-size: 1.4rem;
  color: #ecf2e7;
  line-height: 1.4;
}
.footer__subscribe-col, .footer__contact-col, .footer__hours-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
@media only screen and (max-width: 35em) {
  .footer__subscribe-col, .footer__contact-col, .footer__hours-col {
    text-align: center;
  }
}
.footer__heading {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.8px;
}
@media only screen and (max-width: 35em) {
  .footer__heading {
    font-size: 2rem;
  }
}
.footer__email-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.footer__phone-icon {
  font-size: 2.4rem;
}
.footer__hour-list {
  list-style: none;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}
.footer__hour-list .hours {
  font-size: 1.6rem;
  color: #b2cda0;
}

.form {
  position: relative;
}
.form__text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.form__input {
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: 1.4rem;
  display: block;
  width: 80%;
  padding: 0.6rem 0 1rem 0;
  border-bottom: 2px solid #ecf2e7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #b2cda0;
}
.form__input:focus:invalid {
  border-bottom: 2px solid #ffeead;
}
.form__input::-webkit-input-placeholder {
  -webkit-columns: #888;
          columns: #888;
  letter-spacing: 0.2rem;
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ecf2e7;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.form__label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: 0;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: 0;
  -ms-transform: translateY(-4rem);
      transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: 0;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem);
}
.form__btn {
  position: absolute;
  top: 50.8%;
  right: 1.4rem;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 2.4rem;
  color: #ecf2e7;
  -webkit-transform: all 0.4s;
      -ms-transform: all 0.4s;
          transform: all 0.4s;
}
@media only screen and (max-width: 35em) {
  .form__btn {
    top: 46%;
    right: 3.5rem;
  }
}
.form__btn:hover, .form__btn:active {
  color: #b2cda0;
}

.section-gallery {
  padding: 9.6rem 0 0;
  background-color: #ecf2e7;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, -webkit-max-content);
  grid-template-rows: repeat(6, max-content);
  gap: 0.6rem;
  padding: 0 0.6rem;
  border-radius: 4px;
}
@media only screen and (max-width: 35em) {
  .gallery {
    grid-template-rows: repeat(8, -webkit-max-content);
    grid-template-rows: repeat(8, max-content);
  }
}
.gallery__item {
  overflow: hidden;
}
.gallery__item--1 {
  grid-column: 1/span 4;
  grid-row: 1/span 2;
}
@media only screen and (max-width: 45em) {
  .gallery__item--1 {
    grid-column: 1/-1;
    grid-row: 1/span 1;
  }
}
.gallery__item--2 {
  grid-column: 5/span 2;
  grid-row: 1;
}
@media only screen and (max-width: 45em) {
  .gallery__item--2 {
    grid-column: 1/span 3;
    grid-row: 2/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--2 {
    grid-column: 1/-1;
    grid-row: 2/span 1;
  }
}
.gallery__item--3 {
  grid-column: 5/span 2;
  grid-row: 2;
}
@media only screen and (max-width: 45em) {
  .gallery__item--3 {
    grid-column: 4/span 3;
    grid-row: 2/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--3 {
    grid-column: 1/-1;
    grid-row: 3/span 1;
  }
}
.gallery__item--4 {
  grid-column: 1/span 2;
  grid-row: 3;
}
@media only screen and (max-width: 45em) {
  .gallery__item--4 {
    grid-column: 1/-1;
    grid-row: 3/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--4 {
    grid-column: 1/-1;
    grid-row: 4/span 1;
  }
}
.gallery__item--5 {
  grid-column: 3/span 4;
  grid-row: 3/span 2;
}
@media only screen and (max-width: 45em) {
  .gallery__item--5 {
    grid-column: 1/span 3;
    grid-row: 4/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--5 {
    grid-column: 1/-1;
    grid-row: 5/span 1;
  }
}
.gallery__item--6 {
  grid-column: 1/span 2;
  grid-row: 4;
}
@media only screen and (max-width: 45em) {
  .gallery__item--6 {
    grid-column: 4/span 3;
    grid-row: 4/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--6 {
    grid-column: 1/-1;
    grid-row: 6/span 1;
  }
}
.gallery__item--7 {
  grid-column: 1/span 3;
  grid-row: 5;
}
@media only screen and (max-width: 45em) {
  .gallery__item--7 {
    grid-column: 1/-1;
    grid-row: 5/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--7 {
    grid-column: 1/-1;
    grid-row: 7/span 1;
  }
}
.gallery__item--8 {
  grid-column: 4/span 3;
  grid-row: 5;
}
@media only screen and (max-width: 45em) {
  .gallery__item--8 {
    grid-column: 1/-1;
    grid-row: 6/span 1;
  }
}
@media only screen and (max-width: 35em) {
  .gallery__item--8 {
    grid-column: 1/-1;
    grid-row: 8/span 1;
  }
}
.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery__img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.header {
  height: 8rem;
  padding: 0 4.8rem;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 68.75em) {
  .header {
    padding: 0 3.2rem;
  }
}
.header__logo {
  display: block;
}
.header__logo:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.header__logo img {
  height: 6rem;
}
@media only screen and (max-width: 58.75em) {
  .header__logo img {
    height: 4rem;
  }
}
@media only screen and (max-width: 35em) {
  .header__logo img {
    height: 3.2rem;
  }
}

.sticky .header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(48, 58, 41, 0.97);
  -webkit-box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.02);
          box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.02);
  z-index: 999;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 58.75em) {
  .navigation__nav {
    padding: 9.6rem;
    background-color: rgba(48, 58, 41, 0.8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
}
@media only screen and (max-width: 75em) {
  .navigation__list {
    gap: 2.4rem;
  }
}
@media only screen and (max-width: 58.75em) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 58.75em) {
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }
}
.btn-mobile-nav__icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #b2cda0;
}
@media only screen and (max-width: 35em) {
  .btn-mobile-nav__icon {
    height: 4rem;
    width: 4rem;
  }
}
.btn-mobile-nav__icon[name=close-outline] {
  display: none;
}

.nav-open .navigation__nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: 999;
}

.nav-open .btn-mobile-nav__icon[name=close-outline] {
  display: block;
}

.nav-open .btn-mobile-nav__icon[name=menu-outline] {
  display: none;
}

.section-hero {
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero-1500w.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-1500w.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-1500w.jpg);
  background-size: cover;
  background-position: center;
  color: #f7f7f7;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 37.5rem), only screen and (min-resolution: 192dpi) and (min-width: 37.5rem), only screen and (min-width: 93.755em) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../img/hero-3000w.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-3000w.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-3000w.jpg);
  }
}

.hero {
  width: 50%;
}
@media only screen and (max-width: 75em) {
  .hero {
    width: 56%;
  }
}
@media only screen and (max-width: 68.75em) {
  .hero {
    width: 64%;
  }
}
@media only screen and (max-width: 58.75em) {
  .hero {
    width: 85%;
    text-align: center;
    padding: 0 6.4rem;
  }
}
@media only screen and (max-width: 45em) {
  .hero {
    width: 90%;
  }
}
.hero__text {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.section-map {
  padding: 9.6rem 0;
  background-color: #ecf2e7;
}

.map {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 9.6rem;
     -moz-column-gap: 9.6rem;
          column-gap: 9.6rem;
  row-gap: 6.4rem;
}
@media only screen and (max-width: 58.75em) {
  .map {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    justify-items: center;
  }
}
.map__google-map {
  overflow: hidden;
  padding-bottom: 40vw;
  height: 0;
  border: 2px solid #7f9a6d;
  position: relative;
}
@media only screen and (max-width: 58.75em) {
  .map__google-map {
    width: 80%;
  }
}
@media only screen and (max-width: 45em) {
  .map__google-map {
    width: 100%;
  }
}
.map__google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.map__address {
  padding: 1.8rem 0 2.4rem;
  border-bottom: 2px solid #7f9a6d;
  -ms-flex-item-align: center;
      align-self: center;
}
@media only screen and (max-width: 58.75em) {
  .map__address {
    text-align: center;
  }
}
.map__address-name {
  font-size: 2.4rem;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #7f9a6d;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 35em) {
  .map__address-name {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
}

.section-menu {
  padding: 9.6rem 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 6.4rem;
     -moz-column-gap: 6.4rem;
          column-gap: 6.4rem;
}
@media only screen and (max-width: 58.75em) {
  .menu {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
}
.menu__box {
  padding: 3.2rem;
  border: 2px solid #ecf2e7;
  border-radius: 4px;
}
.menu__header {
  margin-bottom: 3.2rem;
  padding-bottom: 2.4rem;
  border-bottom: 2px solid #ecf2e7;
}
.menu__title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #7f9a6d;
  margin-bottom: 1rem;
}
.menu__text {
  font-size: 1.6rem;
  letter-spacing: 0.8px;
  line-height: 1.2;
  font-weight: 500;
  color: #888;
}
.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.menu__item {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  row-gap: 0.8rem;
}
.menu__item-name {
  font-size: 1.8rem;
  font-weight: 500;
}
.menu__item-details {
  font-size: 1.4rem;
  color: #888;
}
.menu__item-price {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 2px;
  grid-column: 2/-1;
  grid-row: 1/span 2;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 4.8rem;
     -moz-column-gap: 4.8rem;
          column-gap: 4.8rem;
}
@media only screen and (max-width: 58.75em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6.4rem;
       -moz-column-gap: 6.4rem;
            column-gap: 6.4rem;
    row-gap: 3.2rem;
  }
}
@media only screen and (max-width: 35em) {
  .features {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    justify-items: center;
  }
}

.feature {
  border: 2px solid #ecf2e7;
  padding: 3.2rem 2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 35em) {
  .feature {
    width: 60%;
  }
}
@media only screen and (max-width: 21.875em) {
  .feature {
    width: 80%;
  }
}
.feature:hover {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.17);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.17);
}
.feature__icon {
  height: 3.2rem;
  width: 3.2rem;
  fill: #9fc088;
  margin-bottom: 1.8rem;
}
@media only screen and (max-width: 35em) {
  .feature__icon {
    height: 2.8rem;
    width: 2.8rem;
  }
}
.feature__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature__text {
  font-size: 1.8rem;
}

.section-testimonials {
  padding: 12rem 0 9.6rem 0;
}
@media only screen and (max-width: 45em) {
  .section-testimonials {
    padding: 9.6rem 0 8rem 0;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 9.6rem;
     -moz-column-gap: 9.6rem;
          column-gap: 9.6rem;
  row-gap: 5.4rem;
}
@media only screen and (max-width: 45em) {
  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
}

.testimonial__img {
  display: block;
  width: 15%;
  border-radius: 50%;
  margin-bottom: 1.4rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.testimonial__img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.testimonial__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
.testimonial__icon {
  fill: #9fc088;
}
.testimonial__icon--google {
  height: 3.2rem;
  width: 3.2rem;
  margin-right: 1rem;
}
.testimonial__icon--star {
  height: 2rem;
  width: 2rem;
}
.testimonial__text {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.testimonial__author {
  font-size: 1.6rem;
  color: #888;
}