.section-hero {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba($color-black, 0.6),
      rgba($color-black, 0.6)
    ),
    url(../img/hero-1500w.jpg);
  background-size: cover;
  background-position: center;
  color: $color-grey-light-1;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5rem),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5rem),
    only screen and (min-width: 93.755em) {
    background-image: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url(../img/hero-3000w.jpg);
  }
}

.hero {
  width: 50%;

  @media only screen and (max-width: $bp-largest) {
    width: 56%;
  }

  @media only screen and (max-width: $bp-large) {
    width: 64%;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 85%;
    text-align: center;
    padding: 0 6.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 90%;
  }

  &__text {
    color: $color-white;
    font-size: 2rem;
    margin-bottom: 4.8rem;
  }
}
